[submodule "VinoGL/vendor/spdlog"]
	path = VinoGL/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "VinoGL/vendor/GLFW"]
	path = VinoGL/vendor/GLFW
	url = https://github.com/whonftw/glfw
[submodule "VinoGL/vendor/imgui"]
	path = VinoGL/vendor/imgui
	url = https://github.com/whonftw/imgui
