# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Project files
*.vcxproj
*.sln
*.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
/bin/
/bin-int/
/.vs/
*/bin/
*/obj/

VinoGL/vendor/Glad/bin-int/*
VinoGL/vendor/Glad/bin/*
